        #statusDiv{
            font-family: "Roboto",sans-serif;
            display: flex;
            justify-content: center;
            text-align: center;
            
        }
        footer {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
         
        
        .connnectivity {
            text-align: center;
            

        }
        .material-icons {
            font-size: 40px;
            display: block;
            text-align: center;
        }